@font-face{
    font-family:ng;
    src:url(NanumGothic.eot);
    src:local(※), url(NanumGothic.woff) format(‘woff’);
}
@font-face{
    font-family: NanumSquareWeb;
    src: url(NanumSquareR.woff2) format('woff2'),
        url(NanumSquareR.woff) format('woff'),
        url(NanumSquareR.ttf) format('truetype'),
}

/* body{font-family:나눔고딕, NanumGothic, ng} */
body{font-family: 나눔스퀘어, NanumSquare, NanumSquareWeb}

/*       
#logo{
    width: 100px;
    height: 100px;
} */
#logo_img{
    width: 220px;
    height: 70px;
}

.btn{
    width: 30px;
    height: 30px;
}
.icon_img{
    width: 30px;
    height: 30px;
}


.repeatBox input[type="checkbox"]{
    display: none;
}
.repeatBox label{
	width:30px;
	height:30px;
}
.repeatBox input[type="checkbox"] + label .repeat_img {
	padding:0 0 0 30px;
	height:30px;
	background:url("../image/repeat_off.png") no-repeat;
	cursor:pointer;
}
.repeatBox input[type="checkbox"]:checked + label .repeat_img{
    background:url("../image/repeat_on.png") no-repeat;

}

.top_bar{
    margin-bottom: 30px;
}

.subtitle_wrap{
    width: 100%;
    height: auto;
    /* background-color: #298b63; */

}

.subtitle_content{

    float: left;
    border-left: 6px;
    border-left-style: solid;
    border-image: linear-gradient( to bottom,#599499,#5D919E);

    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none; 
    border-image-slice: 1;

    background-color: white;
    /* background: linear-gradient( to bottom,green, blue); */
    
    font-size: 18px;
    font-weight: 600;
    width: 90%;
    height: auto;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}

