
@font-face{
    font-family: NanumSquareWeb;
    src: url(NanumSquareR.woff2) format('woff2'),
        url(NanumSquareR.woff) format('woff'),
        url(NanumSquareR.ttf) format('truetype'),
}


body{
    font-family: 나눔스퀘어, NanumSquare, NanumSquareWeb;
    height: 90%;
}


header{
    margin: 15px 0px 0px 10px;
    position: fixed;
    top: -100px;

    background-color: white;

    height: 200px;
    width: 100%;
    
    z-index: 1;
}

header #logo_img{
    position: absolute;
    top: 100px;
    
    width: 161.33px;
    height: 40px;
}
header .top_bar{
    position: absolute;
    
    bottom: 10px;  
}
#searchText{
    background: url(../image/search_bar.png) no-repeat;
    background-position: top right;
    background-size: 270px 40px;
    border: 0px;
    outline: none;

    width: 135px;
    height: 30px;
}

#searchBtn{
    display: none;
}

.icon_img{
    position: relative;
    top: 15px;
    width: 43px;
    height: 40px;
}


.highlighting{

    /*
    주의점
    1. 줄간격 : 하이라이팅 된 부분 공간이 넓어지면서 다른 글자를 가림
    2. 테두리가 매끄럽지 못함
    3. 색깔 수정: 반복재생이랑 겹치면 티가 안남
    */

    border: 5px;
    border-style: solid; 
    border-radius: 30px;
    border-image-slice: 1;
    border-image:linear-gradient(to bottom,  #599499, #5D919E);
    background: linear-gradient(to bottom, #599499, #5D919E);
    box-shadow: 2px 2px 2px 2px gray;

    color: white;
    padding-top: 3px;
    /* vertical-align: center; */
}



.repeatBox input[type="checkbox"]{
    display: none;
}
.repeatBox label{
	width:30px;
	height:30px;
}
.repeatBox input[type="checkbox"] + label .repeat_img {
	padding:0 0 0 30px;
	height:30px;
	background:url("../image/repeat_off.png") no-repeat;
	cursor:pointer;
}
.repeatBox input[type="checkbox"]:checked + label .repeat_img{
    background:url("../image/repeat_on.png") no-repeat;

}

.subtitle_wrap .repeatSelect {
    /* background-color: #5D919E !important; */
    /* background-color:  */
    background: linear-gradient( to bottom, #599499, #5D919E) !important;
    color: white;
}

#sub_section{
    width: 100%;
    height: 1000px;
    overflow: auto;
    margin-left: 10px;

    margin-top: 110px;
}

#sub_section .subtitle_content{

    display: flex;

    border-left: 6px;
    border-image: linear-gradient( to bottom, #599499, #5D919E);
    border-image-slice: 1;
    border-style: none none none solid;

    background-color: white;
    
    font-size: 18px;
    font-weight: 600;
    width: 90%;
    height: auto;
    padding-left: 10px;
    margin-bottom: 20px;
}
